<table>
  <tr>
    <form class="" action="/dashboard" method="GET">
      <td><h1>QuizBase ~ </h1></td>
      <td><button type="submit" name="button">Dashboard</button></td>
    </form>
    <form class="" action="/showClasses" method="GET">
      <td><button type="submit" name="button">Classes</button></td>
    </form>
    <form class="" action="/showRequests" method="GET">
      <td><button type="submit" name="button">Requests</button></td>
    </form>
    <form class="" action="/signout" method="post">
      <td><button type="submit" name="button">Sign out</button></td>
    </form>

  </tr>

</table>
