<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="background.css">
  </head>
  <body>
    <% include partials/header %>
    <form class="" action="index.html" method="post">
      <table>
        <tr>
          <th>Card Name</th>
          <th>Description</th>
          <th></th>
        </tr>
        <tr>
          <form class="" action="/showDeck/addCard/add" method="post">
            <button type="submit" name="add"></button>
          </form>
        </tr>
      </table>
    </form>
  </body>
</html>
